@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
  --variant-dark: class;
}

body {
  background-color: var(--background);
  background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 24px 24px;
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}